<div class="c-page-header">
  <h1 class="c-page-header__title">{{upperCase hbsObject.pageData.title}} <span class="pill round {{hbsObject.pageData.status-color}}">{{hbsObject.pageData.status}}</span><span style="float: right; font-size: 12px; justify-content: flex-end; display: flex; top: 25px; position: relative;">{{hbsObject.pageData.version}} / {{hbsObject.pageData.last-updated}}</span></h1>
  <div class="c-page-header__desc">
    <p>{{hbsObject.pageData.description}}</p>
  </div>
</div>
